main#lab{
    
    & .lab-entry{

        padding: 1.8rem .55rem;

        & .lab-entry-image{
            padding-bottom: 75%;
            background-size: cover;
            background-position: center;
            margin: 20px 0;
            background-repeat: no-repeat;
            background-color: $dark;
            border-top-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            position: relative;
        }
    
        & .lab-entry-header{
            font-family: 'Prosto One';
            font-size: 18px;
        }
    }

    & section#download{
        text-align: center;
        padding: 80px 0;
    }
    
    & #benefits{
        padding: 80px 0;

        & li{
            margin-bottom: 20px;
        }
    }

    & .parallax{
        
        height: 24vmax;
        min-height: 480px;
        background-size: cover;
        border-radius: 0;
        margin: 6vw 0;
        align-items: center;
        justify-content: center;
        display: flex !important;
        
        & .main-benefit{
            width :600px;
            text-align: center;
            background: rgba(black, .7);

            @media(max-width: $medium){
                width: 300px;
            }
        }
    }

    & .benefit-img{
        padding-bottom: 70%;
        background-size: cover;
        background-position: center;
    }

}